<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="/CSS/all.min.css">
    <a href="https://icons8.com/icon/5MQ0gPAYYx7a/twitter"></a>
    <a href="https://icons8.com/icon/uLWV5A9vXIPu/facebook"></a>
    <a href="https://icons8.com/icon/Xy10Jcu1L2Su/instagram"></a>
    <link href="https://fonts.googleapis.com/css2?family=Satisfy&family=Source+Serif+Pro:wght@200;400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Metal+Mania&family=Satisfy&family=Source+Serif+Pro:wght@200;400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Irish+Grover&family=Metal+Mania&family=Satisfy&family=Source+Serif+Pro:wght@200;400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cinzel&family=Metal+Mania&family=Satisfy&family=Source+Serif+Pro:wght@200;400&display=swap" rel="stylesheet">
    <title>Book Store</title>
</head>
<body>
    <nav>
        <div class="navContainer">
            <div class="iconContainer">
               <div><a href="http://www.twitter.com"><img src="https://img.icons8.com/fluency/48/000000/twitter.png"/></a></div>
               <div><a href="http://www.facebook.com"><img src="https://img.icons8.com/fluency/48/000000/facebook-new.png"/></a></div>
               <div><a href="http://www.instagram.com"><img src="https://img.icons8.com/fluency/48/000000/instagram-new.png"/></a></div>
               <span><input type="text" name="Search"><div class="searchBtn"><a href="#"><i class="fas fa-search"></i></a></span>
            </div>
        </div>
        <div class="secondNav">
            <div><div class="imgPercentage"><img src="/Download/bookstores_logo.png"></div></div>
            <div style="display: flex; justify-content: flex-start; align-items: center;">
                <a class="Bombs" href="#">Login</a>
                <a class="guns" href="#">Sign Up</a>
                <a class="Bombs" href="#"><i style="margin-right: 6px;" class="fas fa-shopping-cart"></i>Cart</a>
                <a class="guns" href="#">Events</a>
            </div>

        </div>
    </nav>
    <main>
        <h2 class="first">Find Your Favorite </h2>
        <div class="categoryContainer">
           <div class="categories top" >
              <div class="discount">Save 30% off</div>
               <a href="#"><img src="https://covers.zlibcdn2.com/covers299/books/eb/a5/01/eba501594ab62859df0601e626eb7631.jpg"></a>
               <div class="title">Romance</div>
            </div>
            <div class="categories">
                <a href="#"><img src="https://covers.zlibcdn2.com/covers299/books/4f/2b/64/4f2b64202c11ce4863b388053209b2b7.jpg"></a>
                <div class="title">Educational</div>
            </div>
            <div class="categories">
                <a href="#"><img src="https://covers.zlibcdn2.com/covers299/books/57/78/71/577871dd23aaab8d107b77eac8856744.jpg"></a>
                <div class="Title">Fiction</div>
            </div>
            <div class="categories">
                <a href="#"><img src="https://covers.zlibcdn2.com/covers299/books/f8/53/6f/f8536ff3ff53a16852a326fc5d4f94c8.jpg"></a>
                <div class="Title">History</div>
            </div>
            <div class="categories">
                <a href="#"><img src="https://covers.zlibcdn2.com/covers299/books/54/56/85/545685becb9edbc4ffc28004dafda2fe.jpg"></a>
                <div class="Title">Science</div>
            </div>
        </div>
        <div class="ads">
        <div class="adOne"><img src="https://image.shutterstock.com/image-vector/
        promo-sale-banner-library-bookshop-260nw-1790872166.jpg">
        <img src="https://live-cdn-www.nypl.org/s3fs-public/best_books_adult_1000x500.png">
    </div>
        <div class="adTwo"><img src="https://s2982.pcdn.co/wp-content/uploads/2015/02/peca-ads-2_ingles-e1424802501577-1024x1009.jpg.optimal.jpg"></div>
        </div>
        <h2 class="second">Our Bestsellers For 2021</h2>
        <div class="bestsellers">
        <div class="best" >
         <img src="https://covers.zlibcdn2.com/covers299/books/d4/d3/67/d4d367fc58490b6b0c7d78555ee1f10c.jpg">
        <div class="title1">Words That Change Lives</div>
        <div class="btnctn"><button onclick="fun()" class="books">Details</button></div>
        </div>
        <div class="best" id="book2">
           <img src="https://covers.zlibcdn2.com/covers299/books/ea/9c/18/ea9c18d32fd1d9d907bcba383dd7ada3.jpg">
           <div class="title1">From Blood And Ash</div>
           <div class="btnctn"><button onclick="fun()" class="books">Details</button></div>
        </div>
        <div class="best" id="book3">
           <img src="https://covers.zlibcdn2.com/covers299/books/ea/c0/b4/eac0b4db37d7f482d7149fd62a82e04b.jpg">
           <div class="title1">A Promised Land</div>
           <div class="btnctn"><button onclick="fun()" class="books">Details</button></div>
        </div>
        <div class="best" id="book4">
           <img src="https://covers.zlibcdn2.com/covers299/books/c2/52/cc/c252cc1bc99664b9891890dd8497af0e.jpg">
           <div class="title1">Self Discipline</div>
           <div class="btnctn"><button onclick="fun()" class="books">Details</button></div>
        </div>
        <div class="best" id="book5">
           <img src="https://covers.zlibcdn2.com/covers299/books/5f/08/98/5f0898770d0cb42d21cd91f55eab70ea.jpg">
           <div class="title1">Shatter Me</div> 
           <div class="btnctn"><button onclick="fun()" class="books">Details</button></div>
        </div>
        </div>
        <h2 class="horror">Horror</h2>
        <div class="bestsellers">
        <div class="best" >
         <img src="https://covers.zlibcdn2.com/covers299/books/94/3f/ee/943fee2a29424583e86801e023921424.jpg">
        <div class="title2">The Conspiracy</div>
        <div class="btnctn"><button onclick="fun()" class="books">Details</button></div>
        </div>
        <div class="best" id="book2">
           <img src="https://covers.zlibcdn2.com/covers299/books/4c/b4/55/4cb4552808194f5d7e35d85402cd221e.jpg">
           <div class="title2">The Philosophy of Horror</div>
           <div class="btnctn"><button onclick="fun()" class="books">Details</button></div>
        </div>
        <div class="best" id="book3">
           <img src="https://covers.zlibcdn2.com/covers299/books/8a/c2/83/8ac283a7a5a9e61633690782b6cf64fc.jpg">
           <div class="title2">Hell House</div>
           <div class="btnctn"><button onclick="fun()" class="books">Details</button></div>
        </div>
        <div class="best" id="book4">
           <img src="https://covers.zlibcdn2.com/covers299/books/91/bf/94/91bf945a91a97e96d138b3c436dda439.jpg">
           <div class="title2">The Incredible Shrinking Man</div>
           <div class="btnctn"><button onclick="fun()" class="books">Details</button></div>
        </div>
        <div class="best" id="book5">
           <img src="https://covers.zlibcdn2.com/covers299/books/93/f0/cd/93f0cd40f2359a2bcf3d3591b6a0dfc8.jpg">
           <div class="title2">Now You See Me</div> 
           <div class="btnctn"><button onclick="fun()" class="books">Details</button></div>
        </div>
        </div>
        <h2 class="third">Toddlers Corner</h2>
        <div class="bestsellers">
        <div class="best" >
         <img src="https://covers.zlibcdn2.com/covers299/books/05/4c/39/054c3952d9ba606d9e2fa973ef7fec87.jpg">
        <div class="title3">The Dinosaur</div>
        <div class="btnctn"><button onclick="" id="book1">Add to Cart</button></div>
        </div>
        <div class="best" id="book2">
           <img src="https://covers.zlibcdn2.com/covers299/books/63/2f/1c/632f1c34075b5fb3a14dc8a94587f2d3.jpg">
           <div class="title3">The Cat In The Hat</div>
           <div class="btnctn"><button onclick="fun()" id="book2">Add to Cart</button></div>
        </div>
        <div class="best" id="book3">
           <img src="https://covers.zlibcdn2.com/covers299/books/40/45/a3/4045a35a3229bd1f596c09d9f392fc04.jpg">
           <div class="title3">Picture Books For Children</div>
           <div class="btnctn"><button onclick="fun()" id="book3">Add to Cart</button></div>
        </div>
        <div class="best" id="book4">
           <img src="https://covers.zlibcdn2.com/covers299/books/97/e8/49/97e849573be839a3ab17af0a175ce7fc.jpg">
           <div class="title3">The Titan's Curse</div>
           <div class="btnctn"><button onclick="fun()" id="book1">Add to Cart</button></div>
        </div>
        <div class="best" id="book5">
           <img src="https://covers.zlibcdn2.com/covers299/books/f7/99/e3/f799e36b460af4f1fcf8870ece1e68a6.jpg">
           <div class="title3">We Were Liars</div> 
           <div class="btnctn"><button onclick="fun()" id="book1">Add to Cart</button></div>
        </div>
        </div>
    </main>
    <script>
       document.querySelectorAll(".books")[0].addEventListener("click", function fun(){
           console.log('Clicked')
       })
    </script>
</body>
</html>